[Unit]
Description=PostgreSQL database server
Documentation=man:postgres(1)
[Service]
Type=simple
User=postgres
ExecStart=/usr/local/pgsql/bin/postgres -D /var/lib/pgsql/db/ncsa
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=0
[Install]
WantedBy=multi-user.target
